body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #0072ff;
    box-shadow: 0 0 5px rgba(0, 114, 255, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #0072ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
/* Estilo para o botão de acesso ao cliente */
.cliente-btn {
    width: 100%;
    padding: 10px;
    font-size: 26px;
    color: white;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px; /* Espaçamento entre os botões */
    transition: background-color 0.3s;
}

.cliente-btn:hover {
    background-color: #0072ff;
}
