/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Alterado para border-box para melhor controle do padding e border */
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Evita barras de rolagem desnecessárias */
}

.container {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    width: 80%;
    max-width: 900px;
    padding: 45px 40px;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(40px);
}

/* Logo */
#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 180px;
    height: auto;
    object-fit: contain;
}

/* Título do cabeçalho */
.header h1 {
    font-size: 100px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Senha atual */
.current-senha h2 {
    font-size: 150px;
    font-weight: bold;
    color: #FF5733;
    margin: 15px 0;
    padding: 12px;
    background: linear-gradient(45deg, #FF5733, #FF6F61);
    color: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    animation: pulse 1.5s infinite;
}

/* Efeito de pulsação */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Últimas senhas chamadas */
.recent-senhas {
    margin-top: 40px;
}

.recent-senhas h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.recent-senhas ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex; /* Usando flexbox para melhor controle do alinhamento */
    flex-wrap: wrap; /* Permite que os botões quebrem para a próxima linha se necessário */
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaçamento entre os botões */
}


/* Estilo para os botões de senhas recentes */

.senha-btn {
    background: linear-gradient(45deg, #3498db, #2980b9);
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 20px; /* Aumentei um pouco o padding horizontal */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: none;
    cursor: pointer;
    margin: 5px;
    box-sizing: border-box;
    max-width: 190px; /* Largura máxima para o botão */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; /* Permite que os botões cresçam para preencher o espaço disponível */
    flex-shrink: 1; /* Permite que os botões diminuam se necessário */
}

.senha-btn:hover {
    background: linear-gradient(45deg, #2980b9, #3498db);
    transform: scale(1.05);
}

.senha-btn:active {
    transform: scale(0.98);
}

/* Estilos responsivos */
@media (min-width: 768px) {
    .senha-btn {
        font-size: 20px;
        padding: 12px 20px;
        max-width: 200px; /* Aumenta a largura máxima em telas maiores */
    }
}

@media (min-width: 1024px) {
    .senha-btn {
        font-size: 22px;
        padding: 15px 25px;
        max-width: 250px; /* Aumenta a largura máxima em telas maiores */
    }
}

/* Campo de input para a senha */
.input-senha {
    margin-top: 30px;
}

.input-senha input {
    font-size: 24px;
    padding: 12px 20px;
    margin-right: 10px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #fafafa;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.input-senha input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(0, 150, 136, 0.5);
    outline: none;
}

.input-senha button {
    font-size: 24px;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 10px;
}

.input-senha button:hover {
    background-color: #45a049;
}

.input-senha button:active {
    transform: scale(0.98);
}

/* Botão de Limpar */
#limpar-btn {
    font-size: 18px;
    padding: 8px 15px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    width: 100%;
    max-width: 180px;
    box-sizing: border-box; /* Importante para o width */
}

#limpar-btn:hover {
    background-color: #c0392b;
}

#limpar-btn:active {
    transform: scale(0.95);
}

/* Botão de Logout */
#logout-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #333;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

#logout-btn:active {
    background: rgba(255, 255, 255, 0.8);
}

/* Estilos responsivos */
@media (min-width: 768px) {
    .recent-senhas ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1