/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    width: 95%; /* Reduzido para melhorar em telas menores */
    max-width: 950px;
    padding: 60px; /* Reduzido para melhorar em telas menores */
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px; /* Espaço reservado para a logo */
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px; /* Reduzido para melhorar em telas menores */
    height: auto;
    object-fit: contain;
}

.header h1 {
    font-size: 60px; /* Reduzido para melhorar em telas menores */
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    white-space: nowrap; /* Garante que o título não quebre a linha */ 
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-senha h2 {
    font-size: 100px; /* Reduzido para melhorar em telas menores */
    font-weight: bold;
    color: #FF5733;
    margin: 15px 0;
    padding: 12px;
    background: linear-gradient(45deg, #FF5733, #FF6F61);
    color: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.recent-senhas {
    margin-top: 40px;
}

.recent-senhas h3 {
    font-size: 20px; /* Reduzido para melhorar em telas menores */
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.recent-senhas ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.senha-btn {
    background: linear-gradient(45deg, #3498db, #2980b9);
    color: white;
    font-size: 20px; /* Reduzido para melhorar em telas menores */
    font-weight: bold;
    padding: 10px 15px; /* Reduzido para melhorar em telas menores */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: none;
    cursor: pointer;
    margin: 5px;
    box-sizing: border-box;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
}

.senha-btn:hover {
    background: linear-gradient(45deg, #2980b9, #3498db);
    transform: scale(1.05);
}

.senha-btn:active {
    transform: scale(0.98);
}

.input-senha {
    margin-top: 20px; /* Reduzido para melhorar em telas menores */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px; /* Adicionado espaçamento entre os elementos */
}

.input-senha input {
    font-size: 20px; /* Reduzido para melhorar em telas menores */
    padding: 10px 15px; /* Reduzido para melhorar em telas menores */
    margin-right: 10px;
    width: calc(100% - 140px); /* Ajustado para melhor responsividade */
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #fafafa;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.input-senha input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(0, 150, 136, 0.5);
    outline: none;
}

.input-senha button {
    font-size: 20px; /* Reduzido para melhorar em telas menores */
    padding: 10px 15px; /* Reduzido para melhorar em telas menores */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 10px;
}

.input-senha button:hover {
    background-color: #45a049;
}

.input-senha button:active {
    transform: scale(0.98);
}

#limpar-btn {
    font-size: 20px; /* Reduzido para melhorar em telas menores */
    padding: 10px 15px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 0px;
    width: 100%;
    max-width: 180px;
    box-sizing: border-box;
}

#limpar-btn:hover {
    background-color: #c0392b;
}

#limpar-btn:active {
    transform: scale(0.95);
}

#logout-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #333;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

#logout-btn:active {
    background: rgba(255, 255, 255, 0.8);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .header h1 {
        font-size: 28px; /* Ajusta o tamanho do texto */
        margin-bottom: 15px; /* Espaço inferior */
    }

    .current-senha h2 {
        font-size: 70px; /* Reduzido para melhorar em telas menores */
        padding: 10px; /* Ajusta o espaço interno */
        margin: 10px 0; /* Espaçamento vertical */
    }

    .senha-btn {
        font-size: 16px; /* Reduzido para melhorar em telas menores */
        padding: 15px 13px; /* Reduzido para melhorar em telas menores */
    }

    .input-senha input {
        font-size: 16px;
        padding: 10px;
        width: 100%; /* Ocupará toda a largura disponível */
        max-width: 300px; /* Limite para largura */
    }

    .input-senha button {
        font-size: 16px;
        padding: 10px 20px;
        width: 100%; /* O botão ocupa toda a largura */
        max-width: 300px; /* Limite para largura */
    }
    #limpar-btn {
        font-size: 16px;
        padding: 10px 20px;
        width: 100%; /* O botão ocupa toda a largura */
        max-width: 300px; /* Limite para largura */
    }
}
